*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dashboardContainer{
    width: 100%;
    height: 99.5vh;
    background-color: rgb(215, 236, 243);
    display: flex;
    align-items: center;
    justify-content: center;
}


.dashBoardLeft{
    height: 100%;
    width: 20%;
    background: #8CE3EE;
}


.burgerMenu{
    display: none;
}


.dashBoardRight{
    height: 100%;
    width: 80%;
    /* background: red; */
}


.logoContainer{
    height: 40%;
    width: 100%;
    /* background: #000; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


.logOutContainer{
    height: 60%;
    width: 100%;
    /* background: blue; */
    display: flex;
    justify-content: center;
    align-items: self-end;
}


.logo{
    height:30%;
    width: 30%;
}


.dashBoardText{
    height: 60%;
    width: 100%;
    /* background: green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


.dashBoard{
    height: 25%;
    width: 100%;
    background: #182D3E;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}


.orders{
    height: 25%;
    width: 55%;
    /* background: red; */
    margin-right: 10px;
    padding-inline-end: 25px;
     font-size: 15px;
     font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #182D3E;
    /* margin-inline-end: 10px; */
}

.subscribe{
    height: 25%;
    width: 65%;
    /* background: blue; */
     font-size: 15px;
     font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #182D3E;
}


.logoutHolder{
    height: 15%;
    width: 40%;
    /* background: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    color: #182D3E;
}


.dashBoardHeader{
    height: 10%;
    width: 100%;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.dashBoardHeaderWrapper{
    height: 90%;
    width: 90%;
    /* background: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.notificationHolder{
    height: 90%;
    width: 15%;
    /* background: blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}


.dashBoardRightBody{
    height: 90%;
    width: 100%;
    /* background: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.dashBoardRightBodyWraaper{
    height: 100%;
    width: 90%;
    /* background: rebeccapurple; */
}


.dashBoardRightBodycard{
    height: 30%;
    width: 100%;
    /* background: green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.dashBoardRightBodycard2{
    height: 70%;
    width: 100%;
    /* background: blue; */
    box-shadow:0 0 10px lightgray;
    border-radius: 5px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}


.dashBoardCard1{
    height: 80%;
    width: 30%;
    background: #0909095d;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #0B0B0B;
}


.dashBoardCard2{
    height: 80%;
    width: 30%;
    background: #ff9c0786;
    border-radius: 10px;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FF9C07;
}
.dashBoardCard3{
    height: 80%;
    width: 30%;
    background: #30a40981;
    border-radius: 10px;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #31A409;
}


.companyNamesContainer{
    height: 10%;
    width: 100%;
    /* background: blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.one1{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: red; */
}
.two2{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    /* background: red; */
    align-items: center;
}


.three3{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    /* background: green; */
    align-items: center;
}

.two2s{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    /* background: red; */
    align-items: center;
    display: none;
}



.three3s{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    /* background: green; */
    align-items: center;
    display: none;
}

.four4{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    /* background: red; */
    align-items: center;
}


.companyBody{
    height: 85%;
    width: 100%;
    /* background: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}




.compayCards1{
    height: 10%;
    width: 90%;
    background: #F5F5EF;
    /* background: white; */
    border-radius: 5px;
    box-shadow: 0 0 10px lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}



.compayCards2{
    height: 10%;
    width: 90%;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.compayCards3{
    height: 10%;
    width: 90%;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.compayCards4{
    height: 10%;
    width: 90%;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.compayCards5{
    height: 10%;
    width: 90%;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.compayCards6{
    height: 10%;
    width: 90%;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}


.pending{
    color:#FF9C07 ;
}


.Completed{
    color: #31A409;
}

.noneHolder{
    display: none;
}

.welcomeDavid{
    height: 90%;
    width: 50%;
    /* background: red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.images{
    display: none;
}





@media screen and (max-width:320px) {

    .noneHolder{
        height: 50%;
        width: 100%;
        /* background: palevioletred; */
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


    .burgerMenu{
        display: flex;
    }


    .dashboardContainer{
        width: 100vw;
        height: 100vh;
    }


.dashBoardLeft{
    display: none;
}


.dashBoardRight{
    height: 100%;
    width: 100%;
    /* background: blue; */
}

.dashBoardRightBodycard{
    height: 26%;
    width: 100%;
    /* background: green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.dashBoardCard1{
    height: 55%;
    font-size: 5px;
}

.dashBoardCard2{
    height: 55%;
    font-size: 5px;
}

.dashBoardCard3{
    height: 55%;
    font-size: 5px;
}


.companyNamesContainer{
    height: 10%;
    width: 100%;
    /* background: red; */
    /* justify-content: space-between; */
    flex-wrap:wrap;
    
}

.two2{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    /* background: red; */
    align-items: center;
    display: none;
}
.three3{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    /* background: green; */
    align-items: center;
    display: none;
}

.dashBoardRightBodycard2{
    height: 70%;
    width: 100%;
    /* background: blue; */
    box-shadow:0 0 10px lightgray;
    border-radius: 5px;
   
}


.compayCards1{
    height: 20%;
    flex-wrap: wrap;
    
}

img{
    display: none;
}



.none{
    display: none;
}

.compayCards2{
    height: 20%;
    flex-wrap: wrap;
    
}


.compayCards3{
    height: 20%;
    flex-wrap: wrap;
    
}


.compayCards4{
    height: 20%;
    flex-wrap: wrap;
    
}


.compayCards5{
    height: 20%;
    flex-wrap: wrap;
    display: none;
    
}


.compayCards6{
    height: 20%;
    flex-wrap: wrap;
    display: none;
    
}

.welcomeDavid{
    height: 90%;
    width: 55%;
    /* background: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
}


.images{
    height: 25px;
    width: 25px;
    display: flex;
}

.notificationHolder{
    display: none;
}


}