.heroPageMainDiv{
    width: 100%;
    height: 85vh;
    display: flex;
    background: linear-gradient(to right, #182d3ee3, #a688667b);
    
    margin-top: 5.7%;
}
.leftDiv{
    width: 50%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(182, 180, 180); */
}
.leftHold {
    width: 70%;
    height: 60%;
    font-size: 40px;
    line-height: 50px;
    margin-left: 10%;
    /* background-color: rgb(153, 130, 130); */
}
.leftDiv h1{
    width: 100%;
    height: 32%;
    font-size: 40px;
    line-height: 50px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: rgb(130, 153, 147); */
}
.conv {
    width: 100%;
    height: 32%;
    font-size: 40px;
    line-height: 50px;
    color: #35BAEA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: rgb(130, 153, 147); */
}
.leftDiv p{
    width: 100%;
    height: 23%;
    font-size: 14px;
    line-height: 25px;
    margin-top: 13%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: rgb(185, 168, 168); */
}
.getStartedButton{
    width: 34%;
    height: 18%;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 4%;
    background-color: #35BAEA;
} 
.rightDiv{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* background-color: rgb(237, 248, 218); */
}
.rightDiv img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    /* background-color: rgb(237, 248, 218); */
}

@media screen and (width:320px) {
    .heroPageMainDiv{
        width: 100%;
        height: 70vh;
        display: flex;
        background: linear-gradient(to right, #182d3ee3, #a688667b);
        margin-top: 25%;
    }
    .leftDiv{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: rgb(221, 157, 157); */
    }
    .leftHold {
        width: 90%;
        height: 100%;
        font-size: 40px;
        line-height: 50px;
        margin-left: 0%;
        /* background-color: rgb(153, 130, 130); */
    }
    .leftDiv h1{
        width: 100%;
        height: 40%;
        font-size: 25px;
        line-height: 30px;
        color: white;
        margin-top: 2%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(130, 153, 147); */
    }
    .conv {
        width: 100%;
        height: 32%;
        font-size: 25px;
        line-height: 50px;
        color: #35BAEA;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(130, 153, 147); */
    }
    .leftDiv p{
        width: 100%;
        height: 30%;
        font-size: 12.5px;
        line-height: 23px;
        margin-top: 1%;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(185, 168, 168); */
    }
    .getStartedButton{
        width: 40%;
        height: 18%;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 3%;
        background-color: #35BAEA;
    } 
    .rightDiv{
        width: 50%;
        height: 100%;
        display: none;
        justify-content: center;
        /* background-color: rgb(237, 248, 218); */
    }
    .rightDiv img{
        width: 50%;
        height: 100%;
        object-fit: cover;
        /* background-color: rgb(237, 248, 218); */
    }
}
@media screen and (width:327px) {
    .heroPageMainDiv{
        width: 100%;
        height: 70vh;
        display: flex;
        background: linear-gradient(to right, #182d3ee3, #a688667b);
        margin-top: 25%;
    }
    .leftDiv{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: rgb(221, 157, 157); */
    }
    .leftHold {
        width: 90%;
        height: 100%;
        font-size: 40px;
        line-height: 50px;
        margin-left: 0%;
        /* background-color: rgb(153, 130, 130); */
    }
    .leftDiv h1{
        width: 100%;
        height: 40%;
        font-size: 25px;
        line-height: 30px;
        color: white;
        margin-top: 2%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(130, 153, 147); */
    }
    .conv {
        width: 100%;
        height: 32%;
        font-size: 25px;
        line-height: 50px;
        color: #35BAEA;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(130, 153, 147); */
    }
    .leftDiv p{
        width: 100%;
        height: 30%;
        font-size: 12.5px;
        line-height: 23px;
        margin-top: 1%;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(185, 168, 168); */
    }
    .getStartedButton{
        width: 40%;
        height: 18%;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 3%;
        background-color: #35BAEA;
    } 
    .rightDiv{
        width: 50%;
        height: 100%;
        display: none;
        justify-content: center;
        /* background-color: rgb(237, 248, 218); */
    }
    .rightDiv img{
        width: 50%;
        height: 100%;
        object-fit: cover;
        /* background-color: rgb(237, 248, 218); */
    }
}
@media screen and (width:360px) {
    .heroPageMainDiv{
        width: 100%;
        height: 60vh;
        display: flex;
        background: linear-gradient(to right, #182d3ee3, #a688667b);
        margin-top: 23%;
    }
    .leftDiv{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: rgb(221, 157, 157); */
    }
    .leftHold {
        width: 90%;
        height: 100%;
        font-size: 40px;
        line-height: 50px;
        margin-left: 0%;
        /* background-color: rgb(153, 130, 130); */
    }
    .leftDiv h1{
        width: 100%;
        height: 39%;
        font-size: 30px;
        line-height: 50px;
        color: white;
        margin-top: 2%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(130, 153, 147); */
    }
    .conv {
        width: 100%;
        height: 32%;
        font-size: 30px;
        line-height: 50px;
        color: #35BAEA;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(130, 153, 147); */
    }
    .leftDiv p{
        width: 100%;
        height: 29%;
        font-size: 14.7px;
        line-height: 26px;
        margin-top: 1.8%;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(185, 168, 168); */
    }
    .getStartedButton{
        width: 50%;
        height: 18%;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 4%;
        background-color: #35BAEA;
    } 
    .rightDiv{
        width: 50%;
        height: 100%;
        display: none;
        justify-content: center;
        /* background-color: rgb(237, 248, 218); */
    }
    .rightDiv img{
        width: 50%;
        height: 100%;
        object-fit: cover;
        /* background-color: rgb(237, 248, 218); */
    }
}
@media screen and (width:390px) {
    .heroPageMainDiv{
        width: 100%;
        height: 60vh;
        display: flex;
        background: linear-gradient(to right, #182d3ee3, #a688667b);
        margin-top: 20.5%;
    }
    .leftDiv{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: rgb(221, 157, 157); */
    }
    .leftHold {
        width: 90%;
        height: 100%;
        font-size: 40px;
        line-height: 50px;
        margin-left: 0%;
        /* background-color: rgb(153, 130, 130); */
    }
    .leftDiv h1{
        width: 100%;
        height: 39%;
        font-size: 30px;
        line-height: 50px;
        color: white;
        margin-top: 2%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(130, 153, 147); */
    }
    .conv {
        width: 100%;
        height: 32%;
        font-size: 30px;
        line-height: 50px;
        color: #35BAEA;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(130, 153, 147); */
    }
    .leftDiv p{
        width: 100%;
        height: 29%;
        font-size: 14.7px;
        line-height: 26px;
        margin-top: 1.8%;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(185, 168, 168); */
    }
    .getStartedButton{
        width: 50%;
        height: 18%;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 4%;
        background-color: #35BAEA;
    } 
    .rightDiv{
        width: 50%;
        height: 100%;
        display: none;
        justify-content: center;
        /* background-color: rgb(237, 248, 218); */
    }
    .rightDiv img{
        width: 50%;
        height: 100%;
        object-fit: cover;
        /* background-color: rgb(237, 248, 218); */
    }
}
@media screen and (width:393px) {
    .heroPageMainDiv{
        width: 100%;
        height: 48vh;
        display: flex;
        background: linear-gradient(to right, #182d3ee3, #a688667b);
        margin-top: 20.6%;
    }
    .leftDiv{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: rgb(221, 157, 157); */
    }
    .leftHold {
        width: 90%;
        height: 100%;
        font-size: 40px;
        line-height: 50px;
        margin-left: 0%;
        /* background-color: rgb(153, 130, 130); */
    }
    .leftDiv h1{
        width: 100%;
        height: 40%;
        font-size: 30px;
        line-height: 50px;
        color: white;
        margin-top: 2%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(130, 153, 147); */
    }
    .conv {
        width: 100%;
        height: 32%;
        font-size: 30px;
        line-height: 50px;
        color: #35BAEA;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(130, 153, 147); */
    }
    .leftDiv p{
        width: 100%;
        height: 29%;
        font-size: 14.7px;
        line-height: 26px;
        margin-top: 1.8%;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(185, 168, 168); */
    }
    .getStartedButton{
        width: 50%;
        height: 19%;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 4%;
        background-color: #35BAEA;
    } 
    .rightDiv{
        width: 50%;
        height: 100%;
        display: none;
        justify-content: center;
        /* background-color: rgb(237, 248, 218); */
    }
    .rightDiv img{
        width: 50%;
        height: 100%;
        object-fit: cover;
        /* background-color: rgb(237, 248, 218); */
    }
}
@media screen and (width:375px) {
    .heroPageMainDiv{
        width: 100%;
        height: 58vh;
        display: flex;
        background: linear-gradient(to right, #182d3ee3, #a688667b);
        margin-top: 20.6%;
    }
    .leftDiv{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: rgb(221, 157, 157); */
    }
    .leftHold {
        width: 90%;
        height: 100%;
        font-size: 40px;
        line-height: 50px;
        margin-left: 0%;
        /* background-color: rgb(153, 130, 130); */
    }
    .leftDiv h1{
        width: 100%;
        height: 38%;
        font-size: 30px;
        line-height: 40px;
        color: white;
        margin-top: 2%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(130, 153, 147); */
    }
    .conv {
        width: 100%;
        height: 32%;
        font-size: 30px;
        line-height: 50px;
        color: #35BAEA;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(130, 153, 147); */
    }
    .leftDiv p{
        width: 100%;
        height: 29%;
        font-size: 14.7px;
        line-height: 23px;
        margin-top: 1.8%;
        color: white;
        text-align: justify;
        padding-right: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(185, 168, 168); */
    }
    .getStartedButton{
        width: 50%;
        height: 19%;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 4%;
        background-color: #35BAEA;
    } 
    .rightDiv{
        width: 50%;
        height: 100%;
        display: none;
        justify-content: center;
        /* background-color: rgb(237, 248, 218); */
    }
    .rightDiv img{
        width: 50%;
        height: 100%;
        object-fit: cover;
        /* background-color: rgb(237, 248, 218); */
    }
}
@media screen and (width:412px) {
    .heroPageMainDiv{
        width: 100%;
        height: 43vh;
        display: flex;
        background: linear-gradient(to right, #182d3ee3, #a688667b);
        margin-top: 19.7%;
    }
    .leftDiv{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: rgb(221, 157, 157); */
    }
    .leftHold {
        width: 86%;
        height: 100%;
        font-size: 40px;
        line-height: 50px;
        margin-left: 0%;
        /* background-color: rgb(153, 130, 130); */
    }
    .leftDiv h1{
        width: 100%;
        height: 39%;
        font-size: 30px;
        line-height: 40px;
        color: white;
        margin-top: 2%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(130, 153, 147); */
    }
    .conv {
        width: 100%;
        height: 32%;
        font-size: 30px;
        line-height: 50px;
        color: #35BAEA;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(130, 153, 147); */
    }
    .leftDiv p{
        width: 100%;
        height: 29%;
        font-size: 14.7px;
        line-height: 23px;
        margin-top: 1.8%;
        color: white;
        text-align: justify;
        padding-right: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(185, 168, 168); */
    }
    .getStartedButton{
        width: 50%;
        height: 20%;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 2%;
        background-color: #35BAEA;
    } 
    .rightDiv{
        width: 50%;
        height: 100%;
        display: none;
        justify-content: center;
        /* background-color: rgb(237, 248, 218); */
    }
    .rightDiv img{
        width: 50%;
        height: 100%;
        object-fit: cover;
        /* background-color: rgb(237, 248, 218); */
    }
}
@media screen and (width:414px) {
    .heroPageMainDiv{
        width: 100%;
        height: 50vh;
        display: flex;
        background: linear-gradient(to right, #182d3ee3, #a688667b);
        margin-top: 19.7%;
    }
    .leftDiv{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: rgb(221, 157, 157); */
    }
    .leftHold {
        width: 86%;
        height: 100%;
        font-size: 40px;
        line-height: 50px;
        margin-left: 0%;
        /* background-color: rgb(153, 130, 130); */
    }
    .leftDiv h1{
        width: 100%;
        height: 39%;
        font-size: 30px;
        line-height: 40px;
        color: white;
        margin-top: 2%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(130, 153, 147); */
    }
    .conv {
        width: 100%;
        height: 32%;
        font-size: 30px;
        line-height: 50px;
        color: #35BAEA;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(130, 153, 147); */
    }
    .leftDiv p{
        width: 100%;
        height: 29%;
        font-size: 14.7px;
        line-height: 23px;
        margin-top: 1.8%;
        color: white;
        text-align: justify;
        padding-right: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(185, 168, 168); */
    }
    .getStartedButton{
        width: 50%;
        height: 20%;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 2%;
        background-color: #35BAEA;
    } 
    .rightDiv{
        width: 50%;
        height: 100%;
        display: none;
        justify-content: center;
        /* background-color: rgb(237, 248, 218); */
    }
    .rightDiv img{
        width: 50%;
        height: 100%;
        object-fit: cover;
        /* background-color: rgb(237, 248, 218); */
    }
}

/* 425 remain */
@media screen and (width:425px) {
    .heroPageMainDiv{
        width: 100%;
        height: 50vh;
        display: flex;
        background: linear-gradient(to right, #182d3ee3, #a688667b);
        margin-top: 19.7%;
    }
    .leftDiv{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: rgb(221, 157, 157); */
    }
    .leftHold {
        width: 86%;
        height: 100%;
        font-size: 40px;
        line-height: 50px;
        margin-left: 0%;
        /* background-color: rgb(153, 130, 130); */
    }
    .leftDiv h1{
        width: 100%;
        height: 39%;
        font-size: 30px;
        line-height: 40px;
        color: white;
        margin-top: 2%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(130, 153, 147); */
    }
    .conv {
        width: 100%;
        height: 32%;
        font-size: 30px;
        line-height: 50px;
        color: #35BAEA;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(130, 153, 147); */
    }
    .leftDiv p{
        width: 100%;
        height: 29%;
        font-size: 14.7px;
        line-height: 23px;
        margin-top: 1.8%;
        color: white;
        text-align: justify;
        padding-right: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(185, 168, 168); */
    }
    .getStartedButton{
        width: 50%;
        height: 20%;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 2%;
        background-color: #35BAEA;
    } 
    .rightDiv{
        width: 50%;
        height: 100%;
        display: none;
        justify-content: center;
        /* background-color: rgb(237, 248, 218); */
    }
    .rightDiv img{
        width: 50%;
        height: 100%;
        object-fit: cover;
        /* background-color: rgb(237, 248, 218); */
    }
}
@media screen and (width:428px) {
    .heroPageMainDiv{
        width: 100%;
        height: 50vh;
        display: flex;
        background: linear-gradient(to right, #182d3ee3, #a688667b);
        margin-top: 19.7%;
    }
    .leftDiv{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: rgb(221, 157, 157); */
    }
    .leftHold {
        width: 86%;
        height: 100%;
        font-size: 40px;
        line-height: 50px;
        margin-left: 0%;
        /* background-color: rgb(153, 130, 130); */
    }
    .leftDiv h1{
        width: 100%;
        height: 39%;
        font-size: 30px;
        line-height: 40px;
        color: white;
        margin-top: 2%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(130, 153, 147); */
    }
    .conv {
        width: 100%;
        height: 32%;
        font-size: 30px;
        line-height: 50px;
        color: #35BAEA;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(130, 153, 147); */
    }
    .leftDiv p{
        width: 100%;
        height: 29%;
        font-size: 14.7px;
        line-height: 23px;
        margin-top: 1.8%;
        color: white;
        text-align: justify;
        padding-right: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(185, 168, 168); */
    }
    .getStartedButton{
        width: 50%;
        height: 20%;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 2%;
        background-color: #35BAEA;
    } 
    .rightDiv{
        width: 50%;
        height: 100%;
        display: none;
        justify-content: center;
        /* background-color: rgb(237, 248, 218); */
    }
    .rightDiv img{
        width: 50%;
        height: 100%;
        object-fit: cover;
        /* background-color: rgb(237, 248, 218); */
    }
}

/* remain 430 */
@media screen and (width:430px) {
    .heroPageMainDiv{
        width: 100%;
        height: 50vh;
        display: flex;
        background: linear-gradient(to right, #182d3ee3, #a688667b);
        margin-top: 19.7%;
    }
    .leftDiv{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: rgb(221, 157, 157); */
    }
    .leftHold {
        width: 86%;
        height: 100%;
        font-size: 40px;
        line-height: 50px;
        margin-left: 0%;
        /* background-color: rgb(153, 130, 130); */
    }
    .leftDiv h1{
        width: 100%;
        height: 39%;
        font-size: 30px;
        line-height: 40px;
        color: white;
        margin-top: 2%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(130, 153, 147); */
    }
    .conv {
        width: 100%;
        height: 32%;
        font-size: 30px;
        line-height: 50px;
        color: #35BAEA;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(130, 153, 147); */
    }
    .leftDiv p{
        width: 100%;
        height: 29%;
        font-size: 14.7px;
        line-height: 23px;
        margin-top: 1.8%;
        color: white;
        text-align: justify;
        padding-right: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(185, 168, 168); */
    }
    .getStartedButton{
        width: 50%;
        height: 20%;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 2%;
        background-color: #35BAEA;
    } 
    .rightDiv{
        width: 50%;
        height: 100%;
        display: none;
        justify-content: center;
        /* background-color: rgb(237, 248, 218); */
    }
    .rightDiv img{
        width: 50%;
        height: 100%;
        object-fit: cover;
        /* background-color: rgb(237, 248, 218); */
    }
}
@media screen and (width:768px) {
    .heroPageMainDiv{
        width: 100%;
        height: 50vh;
        display: flex;
        background: linear-gradient(to right, #182d3ee3, #a688667b); 
        margin-top:10.4%;
    }
    .leftDiv{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: rgb(182, 180, 180); */
    }
    .leftHold {
        width: 90%;
        height: 60%;
        font-size: 40px;
        line-height: 50px;
        margin-left: 9%;
        /* background-color: rgb(185, 160, 160); */
    }
    .leftDiv h1{
        width: 100%;
        height: 42%;
        font-size: 30px;
        line-height: 38px;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(130, 153, 147); */
    }
    .conv {
        width: 100%;
        height: 32%;
        font-size: 30px;
        line-height: 38px;
        color: #35BAEA;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(130, 153, 147); */
    }
    .leftDiv p{
        width: 100%;
        height: 27%;
        font-size: 14px;
        line-height: 25px;
        margin-top: 2%;
        text-align: justify;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(185, 221, 213); */
    }
    .getStartedButton{
        width: 34%;
        height: 18%;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 5%;
        background-color: #35BAEA;
    } 
    .rightDiv{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        /* background-color: rgb(237, 248, 218); */
    }
    .rightDiv img{
        width: 80%;
        height: 100%;
        object-fit: cover;
        /* background-color: rgb(237, 248, 218); */
    }
}
@media screen and (width:800px) {
    .HeaderMainDiv{
        width: 100%;
        height: 70px;
        display: flex;
        position: fixed;
        top: 0px;
        /* z-index: 99999; */
        justify-content: space-around;
        background-color: white;
        box-shadow: 0 0 8px lightsteelblue;
    }
    .burgerIconImage{
        width: 5%;
        height: 70px;
        margin-right: 1%;
        display: none;
        justify-content: center;
        align-items: center;
        /* background-color: aquamarine; */
        
    }
    .burgerIconImage img{
        width: 100%;
        height: 53%;
        display: flex;
        /* background-color: aquamarine; */
        
    }
    .logoDiv{
        width: 9%;
        height: 85%;
        margin-left: 2%;
        margin-top: 1%;
        /* background-color: rgb(127, 157, 255); */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logoDiv img{
        width: 100%;
        height: 100%;
    }
    .writeUpDiv{
        width: 43%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: rgb(127, 157, 255); */
    }
    .writeUpDiv ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .writeUpDiv ul li{
        display: flex;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        cursor: pointer;
        font-size: 16px;
    }
    .btnDiv{
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* background-color: rgb(127, 157, 255); */
    }
    .loginButton{
        width: 35%;
        height: 70%;
        border-radius: 10px;
        cursor: pointer;
        border: 1px solid rgb(168, 195, 212);
        background-color: white;
        transition: all 350ms ease-in-out;
        transform: scale(0.3s);
    }
    .loginButton:hover {
        background-color: rgb(139, 170, 243);
        color: white;
        border: none;
        transform: scale(0.3s);
    
    }
    .signUpButton{
        width: 35%;
        height: 70%;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: all 350ms ease-in-out;
        transform: scale(0.3s);
        background-color: rgb(127, 157, 255);
    }
    .signUpButton:hover{
        width: 35%;
        height: 70%;
        border-radius: 10px;
        color: black;
        cursor: pointer;
        border: 1px solid rgb(168, 195, 212);
        background-color: white;
        transform: scale(0.3s);
    }
}
@media screen and (width:820px) {
    .HeaderMainDiv{
        width: 100%;
        height: 70px;
        display: flex;
        position: fixed;
        top: 0px;
        /* z-index: 99999; */
        justify-content: space-around;
        background-color: white;
        box-shadow: 0 0 8px lightsteelblue;
    }
    .burgerIconImage{
        width: 5%;
        height: 70px;
        margin-right: 1%;
        display: none;
        justify-content: center;
        align-items: center;
        /* background-color: aquamarine; */
        
    }
    .burgerIconImage img{
        width: 100%;
        height: 53%;
        display: flex;
        /* background-color: aquamarine; */
        
    }
    .logoDiv{
        width: 9%;
        height: 85%;
        margin-left: 2%;
        margin-top: 1%;
        /* background-color: rgb(127, 157, 255); */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logoDiv img{
        width: 100%;
        height: 100%;
    }
    .writeUpDiv{
        width: 43%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: rgb(127, 157, 255); */
    }
    .writeUpDiv ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .writeUpDiv ul li{
        display: flex;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        cursor: pointer;
        font-size: 16px;
    }
    .btnDiv{
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* background-color: rgb(127, 157, 255); */
    }
    .loginButton{
        width: 35%;
        height: 70%;
        border-radius: 10px;
        cursor: pointer;
        border: 1px solid rgb(168, 195, 212);
        background-color: white;
        transition: all 350ms ease-in-out;
        transform: scale(0.3s);
    }
    .loginButton:hover {
        background-color: rgb(139, 170, 243);
        color: white;
        border: none;
        transform: scale(0.3s);
    
    }
    .signUpButton{
        width: 35%;
        height: 70%;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: all 350ms ease-in-out;
        transform: scale(0.3s);
        background-color: rgb(127, 157, 255);
    }
    .signUpButton:hover{
        width: 35%;
        height: 70%;
        border-radius: 10px;
        color: black;
        cursor: pointer;
        border: 1px solid rgb(168, 195, 212);
        background-color: white;
        transform: scale(0.3s);
    }
}
@media screen and (width:834px) {
    .HeaderMainDiv{
        width: 100%;
        height: 70px;
        display: flex;
        position: fixed;
        top: 0px;
        /* z-index: 99999; */
        justify-content: space-around;
        background-color: white;
        box-shadow: 0 0 8px lightsteelblue;
    }
    .burgerIconImage{
        width: 5%;
        height: 70px;
        margin-right: 1%;
        display: none;
        justify-content: center;
        align-items: center;
        /* background-color: aquamarine; */
        
    }
    .burgerIconImage img{
        width: 100%;
        height: 53%;
        display: flex;
        /* background-color: aquamarine; */
        
    }
    .logoDiv{
        width: 9%;
        height: 85%;
        margin-left: 2%;
        margin-top: 1%;
        /* background-color: rgb(127, 157, 255); */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logoDiv img{
        width: 100%;
        height: 100%;
    }
    .writeUpDiv{
        width: 43%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: rgb(127, 157, 255); */
    }
    .writeUpDiv ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .writeUpDiv ul li{
        display: flex;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        cursor: pointer;
        font-size: 16px;
    }
    .btnDiv{
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* background-color: rgb(127, 157, 255); */
    }
    .loginButton{
        width: 35%;
        height: 70%;
        border-radius: 10px;
        cursor: pointer;
        border: 1px solid rgb(168, 195, 212);
        background-color: white;
        transition: all 350ms ease-in-out;
        transform: scale(0.3s);
    }
    .loginButton:hover {
        background-color: rgb(139, 170, 243);
        color: white;
        border: none;
        transform: scale(0.3s);
    
    }
    .signUpButton{
        width: 35%;
        height: 70%;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: all 350ms ease-in-out;
        transform: scale(0.3s);
        background-color: rgb(127, 157, 255);
    }
    .signUpButton:hover{
        width: 35%;
        height: 70%;
        border-radius: 10px;
        color: black;
        cursor: pointer;
        border: 1px solid rgb(168, 195, 212);
        background-color: white;
        transform: scale(0.3s);
    }
}
@media screen and (width:884px) {
    .HeaderMainDiv{
        width: 100%;
        height: 70px;
        display: flex;
        position: fixed;
        top: 0px;
        /* z-index: 99999; */
        justify-content: space-around;
        background-color: white;
        box-shadow: 0 0 8px lightsteelblue;
    }
    .burgerIconImage{
        width: 5%;
        height: 70px;
        margin-right: 1%;
        display: none;
        justify-content: center;
        align-items: center;
        /* background-color: aquamarine; */
        
    }
    .burgerIconImage img{
        width: 100%;
        height: 53%;
        display: flex;
        /* background-color: aquamarine; */
        
    }
    .logoDiv{
        width: 8%;
        height: 85%;
        margin-left: 2%;
        margin-top: 1%;
        /* background-color: rgb(127, 157, 255); */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logoDiv img{
        width: 100%;
        height: 100%;
    }
    .writeUpDiv{
        width: 43%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: rgb(127, 157, 255); */
    }
    .writeUpDiv ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .writeUpDiv ul li{
        display: flex;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        cursor: pointer;
        font-size: 16px;
    }
    .btnDiv{
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* background-color: rgb(127, 157, 255); */
    }
    .loginButton{
        width: 35%;
        height: 70%;
        border-radius: 10px;
        cursor: pointer;
        border: 1px solid rgb(168, 195, 212);
        background-color: white;
        transition: all 350ms ease-in-out;
        transform: scale(0.3s);
    }
    .loginButton:hover {
        background-color: rgb(139, 170, 243);
        color: white;
        border: none;
        transform: scale(0.3s);
    
    }
    .signUpButton{
        width: 35%;
        height: 70%;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: all 350ms ease-in-out;
        transform: scale(0.3s);
        background-color: rgb(127, 157, 255);
    }
    .signUpButton:hover{
        width: 35%;
        height: 70%;
        border-radius: 10px;
        color: black;
        cursor: pointer;
        border: 1px solid rgb(168, 195, 212);
        background-color: white;
        transform: scale(0.3s);
    }
}
@media screen and (width:1280px) {
    .HeaderMainDiv{
        width: 100%;
        height: 70px;
        display: flex;
        position: fixed;
        top: 0px;
        /* z-index: 99999; */
        justify-content: space-around;
        background-color: white;
        box-shadow: 0 0 8px lightsteelblue;
    }
    .burgerIconImage{
        width: 5%;
        height: 70px;
        margin-right: 1%;
        display: none;
        justify-content: center;
        align-items: center;
        /* background-color: aquamarine; */
        
    }
    .burgerIconImage img{
        width: 100%;
        height: 53%;
        display: flex;
        /* background-color: aquamarine; */
        
    }
    .logoDiv{
        width: 6%;
        height: 85%;
        margin-left: 2%;
        margin-top: 0.5%;
        /* background-color: rgb(127, 157, 255); */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logoDiv img{
        width: 100%;
        height: 100%;
    }
    .writeUpDiv{
        width: 43%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: rgb(127, 157, 255); */
    }
    .writeUpDiv ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .writeUpDiv ul li{
        display: flex;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        cursor: pointer;
        font-size: 16px;
    }
    .btnDiv{
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* background-color: rgb(127, 157, 255); */
    }
    .loginButton{
        width: 35%;
        height: 70%;
        border-radius: 10px;
        cursor: pointer;
        border: 1px solid rgb(168, 195, 212);
        background-color: white;
        transition: all 350ms ease-in-out;
        transform: scale(0.3s);
    }
    .loginButton:hover {
        background-color: rgb(139, 170, 243);
        color: white;
        border: none;
        transform: scale(0.3s);
    
    }
    .signUpButton{
        width: 35%;
        height: 70%;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: all 350ms ease-in-out;
        transform: scale(0.3s);
        background-color: rgb(127, 157, 255);
    }
    .signUpButton:hover{
        width: 35%;
        height: 70%;
        border-radius: 10px;
        color: black;
        cursor: pointer;
        border: 1px solid rgb(168, 195, 212);
        background-color: white;
        transform: scale(0.3s);
    }
}
@media screen and (width:11400px) {
    .HeaderMainDiv{
        width: 100%;
        height: 70px;
        display: flex;
        position: fixed;
        top: 0px;
        /* z-index: 99999; */
        justify-content: space-around;
        background-color: white;
        box-shadow: 0 0 8px lightsteelblue;
    }
    .burgerIconImage{
        width: 5%;
        height: 70px;
        margin-right: 1%;
        display: none;
        justify-content: center;
        align-items: center;
        /* background-color: aquamarine; */
        
    }
    .burgerIconImage img{
        width: 100%;
        height: 53%;
        display: flex;
        /* background-color: aquamarine; */
        
    }
    .logoDiv{
        width: 6%;
        height: 85%;
        margin-left: 2%;
        margin-top: 0.5%;
        /* background-color: rgb(127, 157, 255); */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logoDiv img{
        width: 100%;
        height: 100%;
    }
    .writeUpDiv{
        width: 43%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: rgb(127, 157, 255); */
    }
    .writeUpDiv ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .writeUpDiv ul li{
        display: flex;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        cursor: pointer;
        font-size: 16px;
    }
    .btnDiv{
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* background-color: rgb(127, 157, 255); */
    }
    .loginButton{
        width: 35%;
        height: 70%;
        border-radius: 10px;
        cursor: pointer;
        border: 1px solid rgb(168, 195, 212);
        background-color: white;
        transition: all 350ms ease-in-out;
        transform: scale(0.3s);
    }
    .loginButton:hover {
        background-color: rgb(139, 170, 243);
        color: white;
        border: none;
        transform: scale(0.3s);
    
    }
    .signUpButton{
        width: 35%;
        height: 70%;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: all 350ms ease-in-out;
        transform: scale(0.3s);
        background-color: rgb(127, 157, 255);
    }
    .signUpButton:hover{
        width: 35%;
        height: 70%;
        border-radius: 10px;
        color: black;
        cursor: pointer;
        border: 1px solid rgb(168, 195, 212);
        background-color: white;
        transform: scale(0.3s);
    }
}
@media screen and (width:1728px) {
    .HeaderMainDiv{
        width: 100%;
        height: 70px;
        display: flex;
        position: fixed;
        top: 0px;
        /* z-index: 99999; */
        justify-content: space-around;
        background-color: white;
        box-shadow: 0 0 8px lightsteelblue;
    }
    .burgerIconImage{
        width: 5%;
        height: 70px;
        margin-right: 1%;
        display: none;
        justify-content: center;
        align-items: center;
        /* background-color: aquamarine; */
        
    }
    .burgerIconImage img{
        width: 100%;
        height: 53%;
        display: flex;
        /* background-color: aquamarine; */
        
    }
    .logoDiv{
        width: 6%;
        height: 85%;
        margin-left: 2%;
        margin-top: 0.5%;
        /* background-color: rgb(127, 157, 255); */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logoDiv img{
        width: 100%;
        height: 100%;
    }
    .writeUpDiv{
        width: 43%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: rgb(127, 157, 255); */
    }
    .writeUpDiv ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .writeUpDiv ul li{
        display: flex;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        cursor: pointer;
        font-size: 16px;
    }
    .btnDiv{
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* background-color: rgb(127, 157, 255); */
    }
    .loginButton{
        width: 35%;
        height: 70%;
        border-radius: 10px;
        cursor: pointer;
        border: 1px solid rgb(168, 195, 212);
        background-color: white;
        transition: all 350ms ease-in-out;
        transform: scale(0.3s);
    }
    .loginButton:hover {
        background-color: rgb(139, 170, 243);
        color: white;
        border: none;
        transform: scale(0.3s);
    
    }
    .signUpButton{
        width: 35%;
        height: 70%;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: all 350ms ease-in-out;
        transform: scale(0.3s);
        background-color: rgb(127, 157, 255);
    }
    .signUpButton:hover{
        width: 35%;
        height: 70%;
        border-radius: 10px;
        color: black;
        cursor: pointer;
        border: 1px solid rgb(168, 195, 212);
        background-color: white;
        transform: scale(0.3s);
    }
}
@media screen and (width:2048px) {
    .HeaderMainDiv{
        width: 100%;
        height: 70px;
        display: flex;
        position: fixed;
        top: 0px;
        /* z-index: 99999; */
        justify-content: space-around;
        background-color: white;
        box-shadow: 0 0 8px lightsteelblue;
    }
    .burgerIconImage{
        width: 5%;
        height: 70px;
        margin-right: 1%;
        display: none;
        justify-content: center;
        align-items: center;
        /* background-color: aquamarine; */
        
    }
    .burgerIconImage img{
        width: 100%;
        height: 53%;
        display: flex;
        /* background-color: aquamarine; */
        
    }
    .logoDiv{
        width: 6%;
        height: 85%;
        margin-left: 2%;
        margin-top: 0.5%;
        /* background-color: rgb(127, 157, 255); */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logoDiv img{
        width: 100%;
        height: 100%;
    }
    .writeUpDiv{
        width: 43%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: rgb(127, 157, 255); */
    }
    .writeUpDiv ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .writeUpDiv ul li{
        display: flex;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        cursor: pointer;
        font-size: 16px;
    }
    .btnDiv{
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* background-color: rgb(127, 157, 255); */
    }
    .loginButton{
        width: 35%;
        height: 70%;
        border-radius: 10px;
        cursor: pointer;
        border: 1px solid rgb(168, 195, 212);
        background-color: white;
        transition: all 350ms ease-in-out;
        transform: scale(0.3s);
    }
    .loginButton:hover {
        background-color: rgb(139, 170, 243);
        color: white;
        border: none;
        transform: scale(0.3s);
    
    }
    .signUpButton{
        width: 35%;
        height: 70%;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: all 350ms ease-in-out;
        transform: scale(0.3s);
        background-color: rgb(127, 157, 255);
    }
    .signUpButton:hover{
        width: 35%;
        height: 70%;
        border-radius: 10px;
        color: black;
        cursor: pointer;
        border: 1px solid rgb(168, 195, 212);
        background-color: white;
        transform: scale(0.3s);
    }
}